@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {
   box-sizing: border-box;
}

body {
   margin: 0;
   min-height: 100vh;
   background-color: #f5f4bd;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%2364616a' fill-opacity='0.4' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");

   color: #000;
   font-family: Montserrat, sans-serif;
   font-weight: 700;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
}

.quote-container {
   width: auto;
   max-width: 900px;
   padding: 20px 30px;
   border-radius: 10px;
   background-color: rgba(255, 255, 255, 0.65);
   box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.quote-text {
   font-size: 1rem;
}

.long-quote {
   font-size: 2rem;
}

.fa-quote-left {
   font-size: 2rem;
}

.quote-author {
   margin-top: 15px;
   font-size: 1.5rem;
   font-weight: 400;
   font-style: italic;
}

.button-container {
   margin-top: 15px;
   display: flex;
   justify-content: space-between;
}

button {
   cursor: pointer;
   font-size: 1.2rem;
   height: 2.5rem;
   border: none;
   border-radius: 10px;
   color: #fff;
   background-color: #008b8b;
   outline: none;
   padding: 0.5rem 1.8rem 0.5rem 1.8rem;
   box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
}

button:hover {
   filter: brightness(110%);
   transform: translate(0, 0.3rem);
}

button:active {
   box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}

.twitter-button:hover {
   color: #38a1f3;
}

.fa-twitter {
   font-size: 1.5rem;
}

/* Loader */
.loader {
   border: 16px solid #f3f3f3;
   border-top: 16px solid #008b8b;
   border-radius: 50%;
   width: 120px;
   height: 120px;
   animation: spin 2s linear infinite;
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

/* Media Query: Tablet or Smaller */
@media screen and (max-width: 1000px) {
   .quote-container {
      margin: auto 10px;
   }

   .quote-text {
      font-size: 2.5rem;
   }
}
