
@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Oswald:wght@500&display=swap');

html {
    box-sizing: border-box;  
}

body {
    margin:0;
    min-height: 100vh;
    background-color: #c8f9fb;
    background-image: url("images/lake.jpg");
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152'     viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23a311db' fill-opacity='0.    92'%3E%3Cpath d='M152     150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20    h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0     2v18h18V50h-18zm20-22h18V10h-18v18zm-54     92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54     0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30     0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30     50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");  */
    color:rgb(11, 2, 143);
    font-family: 'Ephesis', cursive;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center; 
}

.quote-container {
    display: block;
    margin: auto;
    width: auto;
    max-width: 900px;
    margin-top: 180px; 
    padding: 20px 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.quote-text {
    font-size: 2.75rem;

}
.long-quote {
    font-size: 1.7rem;
}

.fa-quote-left {
    font-size: 4rem;
}

.title{
    margin-bottom:40px;
    margin-left: 25px;
    align-items: flex-start;
    justify-content: space-around;
    animation-name: flash;
    animation-duration: 3s;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.quote-author {
    margin-top: 15px;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
}

.button-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

button {
    cursor:pointer;
    font-size: 1.2rem;
    height: 2.5rem;
    border: 2px solid rgb(160, 10, 219);
    border-radius: 10px;
    color: #fff;
    background: #333;
    outline: none;
    padding: 0.5rem 1.8rem;
    box-shadow: 0 0.3rem rgba(121, 121,121, 0.65);
}

button:hover{
    filter: brightness(110%);
    border:none;
}

button:active {
    transform: translate(0, 0.3rem);
    box-shadow: 0 0.1rem rgba(255, 255,255, 0.65);
}

twitter-button:hover{
    color: #38a1f3;
}

.fa-twitter{
    font-size: 1.5rem;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @keyframes flash {
    0% { color:rgb(247, 7, 207);  transform: scaleX(.5); }
    25% { color: rgb(37, 214, 238); transform: scaleX(1); }
    50% { color: rgb(247, 7, 207); transform: scaleX(.5); }
    75% { color: rgb(37, 214, 238); transform: scaleX(1); }
    100% { color: rgb(247, 7, 207); transform: scaleX(.5); }

    
}

/*  media query tablet or smaller */
@media screen and (max-width: 1000px) {
    .quote-container{
        margin: auto 10px;
    }
    .quote-text {
        font-size: 2.4rem;
    }
}